@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html,body,#root{
  min-width: 100vh !important;
  min-height: 100vh !important;
  color: #212529;
}
.spinner-border{
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin: -10rem;
  width: 20rem;
  height: 20rem;
}
.sfondohome{
  background-image: url('./images/immaginehome.png');
  background-color: #61dafb;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
  padding-top: 2%;
  padding-left: 7%;
  font-family: 'Kanit', sans-serif;
  color:#626262;
}
.titolohome{
  font-size: 60px;
  color: #212529;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.intestazionehome{
  align-items: center;
  margin-bottom: 80px;
}
.schedehome{
  font-size: 20px;
  color: #212529;
  float: right;
  margin-right: 2%;
}
.schedehome>span{
  margin-right: 30px;
}
.schedehome>span:hover{
  cursor: pointer;
  color: #007bff;
}
.immaginehome{
  width: 50px;
}
.immaginehome2{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
}
.sfondohome>div>p{
  max-width: 40%;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.sfondohome>.btn-group{
  position: relative;
  z-index: 1;
}
.card-header{
  border-radius: 20px !important;
}
.sfondoregistrazione{
  background-image: url('./images/immagineregistrazione.png');
  background-color: #61dafb;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
  font-family: 'Kanit', sans-serif;
  color:#626262;
}
.sfondoaccesso{
  background-image: url('./images/immagineaccesso.png');
  background-color: #61dafb;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
  font-family: 'Kanit', sans-serif;
  color:#626262;
}
.sfondoprofilo{
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./images/sfondoprofilo2.png');
  background-color: #61dafb;
  background-attachment: fixed;
  min-height: 100vh !important;
  font-family: 'Fredoka One', cursive;
  color: #212529;
  padding-bottom: 40px;
  font-family: 'Kanit', sans-serif;
}
.sfondopagine{
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./images/sfondoprofilo.png');
  background-color: #61dafb;
  background-attachment: fixed;
  min-height: 100vh !important;
  font-family: 'Fredoka One', cursive;
  color: #212529;
  padding-bottom: 40px;
  font-family: 'Kanit', sans-serif;
}
.containerregistrazione{
  max-width: 50%;
  min-width: 50%;
  min-height: 100vh;
  padding-left: 7%;
  padding-right: 7%;
  background-color: white;
  padding-top: 2%;
  position: absolute;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.containeraccesso{
  max-width: 50%;
  min-width: 50%;
  min-height: 100vh;
  padding-left: 7%;
  padding-right: 7%;
  background-color: white;
  padding-top: 2%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navregistrazione{
  align-items: center;
  margin-bottom: 25px;
}
.dropdownpagine>a{
  border:0px !important;
}
.contenutoregistrazione{
  padding: 40px 0 !important;
  background-color: #e7e7e7;
  border-radius: 5px;
}
.dropdown-menu{
  background-color: rgb(231, 231, 231);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-top: 7px !important;
}
.dropdown-menu.open{width:100%}
.dropdown-menu.show {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar{
  background-color: white;
  position: fixed;
  top: 0;
  width: calc(100% - 330px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px !important;
  z-index: 2;
  margin-left: 310px;
  margin-right: 20px;
}
.navbarsegui{
  width: calc(100% - 330px) !important;
  margin-left: 310px !important;
}
.sfondopagine>.navbar{
  width: calc(100% - 260px);
  margin-left: 240px;
}
.pulsanteregistrazione{
  margin-top: 20px;
}
.card{
  border-radius: 20px !important;
  padding: 0%;
  border: none !important;
}
.immagineprofilo{
  margin-top: 5px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  object-fit: cover;
  border: 2px solid #212529;
}
.navbar-nav>.nav-link{
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  color:#212529 !important;
}
.navbar-nav>.nav-link:hover{
  background-color: #007bff !important;
  color: white !important;
}
.nav-link.disabled{
  color: black !important;
}
.profilo{
  background-color: transparent;
  color: rgb(199, 198, 198);
  margin-right: 20px;
  display: flex;
}
.figure{
  text-align: center;
}
.nomeprofilo{
  font-size: 30px;
  text-align: center;
}
.utentiseguiti{
  font-size: 25px;
}
.utentiseguitidiv{
  display: flex;
  align-items: center;
}
.nomeutenteprofilo{
  background-color: #212529;
  color: rgb(144 146 148);
  line-height: 2px;
  font-size: 25px;
  padding-bottom: 43px;
  padding-left: 10px;
  border-bottom-right-radius: 5px;
}
.colprofilo{
  position: fixed;
  padding: initial !important;
  padding-left: 290px;
  margin-top: 68px;
  display: inline-flex;
  width: max-content;
  max-width: calc(100% - 20px);
  min-height: calc(100vh - 88px);
  max-height: calc(100vh - 88px);
  background-color: white;
  color:#212529;
  overflow: hidden;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.tab-content>.active>form{
  min-width: 500px;
}
.box{
  overflow-y: auto;
  border-radius: 20px;
}
.box2{
  height: calc(100vh - 334px);
  overflow-y: auto;
}
.box3{
  height: calc(100vh - 90px);
  overflow-y: auto;
}
.infoprofilo{
  color: white;
  background-color: #007bff;
  padding-bottom: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  z-index: 2;
  width: 290px;
  padding: 30px;
  padding-top: 284px;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  overflow: hidden;
}
.figura{
  z-index: 3;
  background-color: transparent;
  height: 150px;
  width: 290px;
  position: fixed;
}
.immagineprofilo2{
  width: 250px;
  height: 250px;
  margin: 20px;
  margin-top: 20px;
  object-fit: cover;
  border: 10px solid #212529;
  z-index: 3;
}
.immagineprofilo3{
  padding: 4px;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.immagineprofilo3>img{
  width: 35px;
  height: 35px;
  border:2px solid #212529;
}
.immagineprofilo3:hover{
  background-color: #007bff;
}
.divgestisci{
  max-width: 300px;
}
.divgestisci>button{
  margin-top: 10px;
  font-size: 14px;
}
.divgestisci>form>.btn-group>button{
  font-size: 14px;
}
.divgestisci>form>.form-group>.form-file>.form-control-file{
  margin-top: 10px;
  font-size: 14px;
  color:#212529;
}
.divgestisci>.alert{
  font-size: 14px;
}
.divgestisci>.alert>button{
  font-size: 14px;
}
.logout{
  position: fixed;
  z-index: 1;
  left: 0;
  padding-left: 30px;
  bottom: 0;
  width: 290px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #007bff;
  border-bottom-right-radius: 20px;
}
.logout:hover{
  background-color: white;
  color: #007bff;
  cursor: pointer;
}
.logoutpagine{
  width: 220px;
}
.gestioneprofilo{
  border-radius: 10px !important;
}
.gestioneprofilo>a{
  color: #212529;
  background-color: white;
  border:0px !important;
  border-radius: 0px !important;
}
.gestioneprofilo>.nav-link.active{
  background-color: #007bff;
  color: white;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.nav-tabs{
  margin-left: 290px;
  flex-direction: column;
  position: fixed;
}
.tab-content{
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right;
  background-color: white;
  height: fit-content;
  padding: 20px;
  margin-left: 494.5px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.formlibretto{
  min-width: 500px;
}
.MuiPaper-elevation1 {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%) !important;
}
.buttoncalendario{
  margin-top: 20px;
}
.formcalendario{
  min-width: 500px;
}
.formcalendario>label{
  margin-right: 10px;
  margin-bottom: 0px !important;
}
.react-datepicker-wrapper>.react-datepicker__input-container>input,.formcalendario>.react-time-picker>.react-time-picker__wrapper>.react-time-picker__inputGroup{
  margin-top: 20px;
  border-radius: 5px !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}
.react-time-picker__wrapper{
  border: 0px !important;
}
.dropdown-toggle{
  color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.segui{
  margin-left: 220px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-right: 20px;
  flex-direction: row;
}
.segui>.card{
  text-align: center;
  width: 201.5px;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 20px !important;
  margin: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.segui>.card>.card-body>.text-muted{
  text-align: left !important;
}
.segui>.card>.card-body{
  background-color: white;
  border-radius: 20px;
  overflow:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sfondocardsegui{
  background-color: #007bff;
  width: 100%;
  height: 30%;
  position: absolute;
  border-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.segui>.card>.card-body>img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border: 10px solid black;
  z-index: 1;
  position: relative;
}
.segui>.card>.card-body>.text-muted{
  color: #626262 !important;
  font-size: 14px;
}
.infoprofilosegui>.btn-group>button{
  font-size: 14px;
  margin-top: 10px;
}
.formdocumenti{
  width: 431px !important;
}
.form-control-file{
  background-color: white;
  border:1px solid #dee2e6;
}


.documenti{
  margin-left: 220px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  flex-direction: row;
}
.documenti>.card{
  background-color: white !important;
  width: 250px;
  min-height: 180px;
  height: fit-content;
  border-radius: 20px !important;
  margin: 20px;
  margin-right: 0px;
  text-align: center;
  overflow:auto;
}
.documenti>.card>.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.documenti>.card>.card-body>.card-title{
  position: relative;
  color: #212529;
}
.documenti>.card>.card-body>.card-subtitle{
  position: relative;
  color: #626262;
  font-size: 14px;
  line-height: 2px;
}
.documenti>.card>.card-body>.btn{
  margin-top: 10px;
}
.avvisi{
  height: fit-content;
  margin-left: 220px;
  padding: 20px;
  padding-top: 68px;
  border-radius: 5px !important;
}
.sfondocardavvisi{
  background-color: #007bff;
  width: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.avvisi>.card{
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px !important;
  background-color: white;
  border-radius: 20px !important;
}
.avvisi>.card>.sfondocardavvisi>.card-title{
  position: relative;
  font-size: 25px;
  color: white;
}
.avvisi>.card>.sfondocardavvisi>.card-subtitle{
  position: relative;
  color: white !important;
  font-size: 14px;
  line-height: 2px;
}
.forum{
  height: fit-content;
  margin-left: 220px;
  padding: 20px;
  padding-top: 68px;
  border-radius: 5px !important;
}
.forum>.card{
  margin-bottom: 20px;
}
.forumgroup{
  margin-top: 20px;
}
.seguiti{
  height: calc(100vh - 50px);
  width: 220px;
  position: fixed;
  left: 0;
  top:0;
  padding: 20px;
  color: white;
  overflow:auto;
  white-space: nowrap;
  background-color: #007bff;
  border-top-right-radius: 20px;
}
.corpo{
  text-align: left;
  margin-top: 80px;
}
.domande{
  background-color: white;
  color:#212529;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
  min-width: 500px;
  max-width: 900px;
  word-wrap: break-word;
}
.domande>h1{
  text-align: center;
  font-size: 40px;
}
.risposte{
  margin-left: 15px;
}
.risposta{
  margin-left: 20px;
}
.App {
  text-align: center;
  display: flex;
}

.barradiricerca{
  margin-left: 20px;
  border-radius: 5px;
  padding-left: 10px;
}

.dropdown-menu.show>.btn-group{
  display: none;
}

.descrizione{
  max-width: 50vh;
}
.descrizione>div{
  width: 100%;
  overflow-wrap: break-word;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.numeripagina{
  display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 220px);
    margin-left: 220px;
}
.numeropagina{
  margin: 20px;
  width: 50px;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
